.calcul{
    background-color: #679e59;
    padding: 50px;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  }
  .block{
    padding-top: 10PX;
  }
  #block_end{
    display: none;
  }
  .Name{
    text-align: left;
    float: left;
  }
  input.pOINT .Num{
    float: right;
  }
  